body {
  background: #fff;
  color: #fff;
  font-family: Georgia;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* container*/
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/*Intro*/
.intro {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title {
  font-size: 60px;
  letter-spacing: 0.05em;
  line-height: 64px;
}
.input-start {
  position: absolute;
  border-radius: 50%;
  text-align: center;

  width: 248px;
  height: 248px;
  transform: rotate(-8deg);

  background: linear-gradient(
    134.62deg,
    #cd9e44 8.97%,
    #ffe6b6 48.2%,
    #cd9e44 93.05%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 15vh;
  top: 28vh;

  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.01em;
}

.input-start span {
  color: #2f2f2f;
  font-style: italic;
  font-weight: normal;
  font-size: 32px;
}
.intro-subtitle {
  font-size: 24px;
  margin-top: 33px;
  letter-spacing: 0.02em;
  font-weight: normal;
  line-height: 32px;
}
.intro-about {
  display: flex;
}

.intro-date {
  margin-top: 38px;
  margin-left: 44px;
}
.intro-date:first-child {
  margin-left: 0px;
}
.intro-date h4 {
  font-size: 40px;
  margin-bottom: 10px;
}
.intro-date span {
  font-size: 20px;
}
.intro-log {
  margin-top: 32px;
  margin-left: 7px;
}
.intro-contact {
  margin-top: 50px;
}

.intro-contact button {
  width: 235px;
  height: 56px;

  background: radial-gradient(
    68.75% 1217.19% at 53.95% 50%,
    #ffe6b6 0%,
    #cd9e44 100%
  );
  border-radius: 2px;
  border: none;
  transition: 0.5s;

  font-family: Georgia;
  font-style: italic;
  font-size: 20px;
  color: #000;
  letter-spacing: 0.01em;
}

.intro-contact button:hover {
  color: #fff;
}

.intro-logo {
  background: url(../img/Logo.png) no-repeat;
  background-size: 200px;
  position: absolute;
  bottom: 0;
  right: 47.1%;

  width: 200px;
  height: 88px;
}
/*.header*/
.header {
  width: 100%;
  padding-top: 10px;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header-bar a {
  text-decoration: none;
}
.header-bar a {
  font-size: 10px;
  transition: 0.5s;
}
.header-bar a svg:hover {
  transform: translate(1px, -1px);
  color: #eeeef7;
}

.header-search {
  margin-left: 28px;
}
